.container__results{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containter__results--item{

    width: 70%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
}